body {
    margin: auto;
    font-size: 16px;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: rgba(153, 111, 99, .5);
}

body img {
    border-radius: 20px;
}

.round {
    border-radius: 50%;
}

#recipeImg {
    display: block;
    z-index: 1;
    /*max-height: ;*/
    min-height: 150px;
    position: relative;
}

#recipeIcon {
    position: absolute;
    color: red;
    font-size: 2.5em;
    z-index: 2;
    padding: 2em;
}

#recipeImg .fa-heart-o {
    position: absolute;
    top: 2rem;
    right: 4rem;
    color: red;
    text-shadow: 2px 2px 3px #e1b7ab;
}

.merriweatherSans {
    font-family: 'Merriweather Sans', sans-serif;
}

.lemonada {
    font-family: 'Lemonada', cursive;
}

h1, h2, h3, h4, h5, h6 {
    font-variant-caps: small-caps;
    font-family: 'Lemonada', cursive;
}

header{
    background-color:black;
    color:white;
    display:flex;
    padding:1em;
    font-variant:small-caps;
    vertical-align: bottom;
}
header a:link, a:visited {
    color: white;
    margin-right: 1em;
}
header a:hover, active {
    color: gold;
    text-decoration: none;
}

nav {
    align-items: center;
    justify-content: center;
}

.logo {
    max-width: 4em;
}

.logoText {
    font-size: 2rem;
    margin-bottom: 0;
    text-shadow:3px 3px 2px #808080;
}

.ccc-jumbotron {
    background-image: url('../img/chocolateCherryCookies.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3em;
    text-shadow: 2px 2px 3px #e1b7ab;
}

.jumbotron-background-fade {
    background-color: rgba(153, 111, 99, .5);
    border-radius:20px;
    padding: 2em;
}

.recipe {
    margin: 0 3em;
    padding: 1em 3em;
}

.gold {
    color: gold;
}

.mCenter {
    margin:auto;
}

.center {
    vertical-align: central;
}

.bottom {
    vertical-align:bottom;
}

.reviews {
    vertical-align: central;
}